body{
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	background: #fff;
	margin-bottom: 20px;

}

#author{
	margin-bottom: 10px;
}

#div-author:hover{
	background-color: #eee;
	opacity: 0.9;
	cursor: pointer;
}

img{
	padding-top: 10px;
}

.row{
	margin-top: 30px;
}

#div-author{
	border: 1px solid #9d0227;
	padding: 10px;
	background-color: #fff;
	height: 360px;
}

#author a{
	text-decoration: none;
	color: #000;
}

#h3-author{
	padding: 10px;
}
#p-author{
	padding: 10px;
}

#header{
	height: 500px;
	padding-top: 100px;
	color: #000;
	 background: #ffffff
}

#header h4{
	padding-top: 30px;
}

footer{
	margin-top: 20px;
	background-color: #4a1320
}

.image-author{
	    margin-top: 20px;
	    width: 190px;
		height: 190px;
		border:2px solid #fff;
		-moz-box-shadow: 0px 6px 5px #ccc;
		-webkit-box-shadow: 0px 6px 5px #ccc;
		box-shadow: 0px 6px 5px #ccc;
		-moz-border-radius:190px;
		-webkit-border-radius:190px;
		border-radius: 50%;
}
